<% @subjects.each_with_index do |subject, index|%>
  <tr class="row-<%= subject.id %>">
    <td><%= index + 1 %></td>
    <td><%= subject.name %></td>
    <td class="truncate"><%= subject.description %></td>
    <td><%= subject.question_number %></td>
    <td><%= subject.duration %></td>
    <td class="action_subject">
      <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large blue">
          <i class="large material-icons">settings</i>
        </a>
        <ul>
          <li>
            <%= link_to(edit_admin_subject_path(subject),
              class: "btn-floating red sm tooltipped",
              data: {position: "top", delay: "50",
              tooltip: t("page.admin.action.edit")}) do %>
              <i class="material-icons yellow darken-1">mode_edit</i>
            <% end %>
          </li>
          <li>
            <%= link_to([:admin, subject],
              class: "btn-floating red darken-1 tooltipped delete_subject",
              method: :delete, confirm: t("page.admin.action.confirm"),
              data: {position: "top", delay: "50", id: subject.id,
              tooltip: t("page.admin.action.delete")}) do %>
              <i class="material-icons">delete</i>
            <% end %>
          </li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>

