<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          <%= t "page.master.front-end.footer.about-us.title" %>
        </h5>
        <p class="grey-text text-lighten-4">
          <%= t "page.master.front-end.footer.about-us.content" %>
        </p>
      </div>
      <div class="col l3 s12 offset-l3">
        <h5 class="white-text">
          <%= t "page.master.front-end.footer.connect.title" %>
        </h5>
        <ul>
          <li>
            <a class="white-text" href="#!">
              <%= t "page.master.front-end.footer.connect.facebook" %>
            </a>
          </li>
          <li>
            <a class="white-text" href="#!">
              <%= t "page.master.front-end.footer.connect.twitter" %>
            </a>
          </li>
          <li>
            <a class="white-text" href="#!">
              <%= t "page.master.front-end.footer.connect.google" %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p><%= t "page.master.sign" %></p>
    </div>
  </div>
</footer>
