<div class="header">
  <% if user_signed_in? %>
    <ul id="current_user" class="dropdown-content">
      <li>
        <%= link_to t("page.master.front-end.header.profile"),
          user_path(current_user) %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to t("page.master.front-end.header.setting"),
          edit_user_path(current_user) %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to t("page.master.front-end.header.setting.logout"),
          destroy_user_session_path, method: :delete %>
      </li>
      <li class="divider"></li>
    </ul>
  <% end %>
  <nav class="teal">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <%= t "page.master.front-end.header.logo" %>
      </a>
      <ul class="right hide-on-med-and-down">
        <% unless user_signed_in? %>
          <li><%= link_to t("page.master.front-end.header.signout"),
            new_user_registration_path %>
          </li>
          <li><%= link_to t("page.master.front-end.header.signin"),
            new_user_session_path %>
          </li>
          <li>
          <%= link_to t("page.master.admin.header.signin"),
            user_facebook_omniauth_authorize_path %>
          </li>
        <% else %>
          <li>
            <%= link_to t("page.master.front-end.header.exam"),
              examinations_path %>
          </li>
          <li>
            <a class="dropdown-button" href="#!" data-activates="current_user">
              <i class="material-icons right">arrow_drop_down</i>
              <%= current_user.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

