<%= content_for :title do %>
  <%= t "page.views.devise.passwords.new" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.views.devise.passwords.new" %>
<% end %>

<div class="row">
  <div class="col m6 offset-m3">
    <div class="card card-panel">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="col m12">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m12">
            <div class="actions">
              <%= f.submit t("page.views.devise.passwords.news"),
                class: "btn waves-effect waves-light pink col s12" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
