<%= content_for :title do %>
  <%= t "page.admin.questions.title" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.admin.questions.title" %>
<% end %>

<div class="row">
  <div class="screen_options">
      <i class="small material-icons full_screen">stay_primary_landscape</i> |
      <i class="small material-icons half_screen">web</i>
  </div>
  <div class="col m12 layout_options">
    <%= link_to("#add_new_question",
      class: "btn-floating btn-large waves-effect waves-light red tooltipped modal-trigger",
      data: {position: "top", delay: "50",
      tooltip: t("page.admin.questions.add.new")}) do %>
      <i class="material-icons">add</i>
    <% end %>
    <table class="striped centered highlight" id="table-question">
      <thead>
        <tr>
          <th data-field="stt">
            <%= t "page.admin.questions.tables.stt" %>
          </th>
          <th data-field="content">
            <%= t "page.admin.questions.tables.content" %>
          </th>
          <th data-field="type">
            <%= t "page.admin.questions.tables.type" %>
          </th>
          <th data-field="subject">
            <%= t "page.admin.questions.tables.subject_name" %>
          </th>
          <th data-field="action">
            <%= t "page.admin.questions.question.action" %>
          </th>
        </tr>
      </thead>
      <tbody class="subject_body_tables">
        <% @questions.each do |question| %>
          <%= render question, subjects: @subjects %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @questions %>
  </div>

  <div class="col m3 hide answers_tab">
    <h5 class="center-align"><%= t "page.admin.questions.answers.tab.title" %></h5>
    <div class="divider"></div>
    <div>
      <% @questions.each_with_index  do |question, index| %>
        <h6>
          <strong><%= t "page.admin.questions.answers.answer" %><%= index %></strong>
        </h6>
        <ul id="list-answers-<%= question.id %>" class="center-align">
          <% question.answers.each do |answer| %>
            <li class="center-align" style="opacity: 0"><%= answer.content %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div id="add_new_question" class="modal">
  <div class="modal-heading">
    <h5 class="center-align"><%= t "page.admin.questions.add.new" %></h5>
    <div class="divider"></div>
  </div>
  <%= form_for([:admin, @question]) do |f| %>
    <div class="modal-heading">
      <h5 class="center-align"><%= t "page.admin.questions.add.new" %></h5>
      <div class="divider"></div>
    </div>
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <%= f.hidden_field :question_status, value: 1 %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :content %>
          <%= f.label :content %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.select :subject_id,
            @subjects.collect {|subject| [subject.name, subject.id ]},
            {}, {class: "form-control"} %>
          <%= f.label :subject_id %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.select :question_type,
            options_for_select(Question.question_types.keys) %>
          <%= f.label :question_type %>
        </div>
      </div>
      <div id ="answer_field">
        <div class="col m10 offset-m1">
          <h5 class="center-align">
            <%= t "page.admin.questions.answers.answer" %>
          </h5>
        </div>
        <%= f.fields_for :answers do |answer_builder| %>
        <p>
          <%= render "answer_fields", f: answer_builder %>
        </p>
        <% end %>
        <%= link_to_add_fields t("page.admin.questions.add_answer"),
          f, :answers %>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit t("page.admin.action.submit"),
        class: "modal-action modal-close waves-effect waves-green btn-flat" %>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
        <%= t "page.admin.action.cancel" %>
      </a>
    </div>
  <% end %>
</div>

<% @questions.each do |question| %>
  <div id="edit_question_<%= question.id %>" class="modal">
    <%= render "form", question: question, subjects: @subjects %>
  </div>
<% end %>
