<%= content_for :title do %>
  <%= t "page.admin.questions.suggest" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.admin.questions.suggest" %>
<% end %>

<div class="row suggest_question">
  <div class="screen_options">
    <i class="small material-icons full_screen">stay_primary_landscape</i> |
    <i class="small material-icons half_screen">web</i>
  </div>
  <div class="col m12 layout_options">
    <table class="striped centered highlight" id="table-question">
      <thead>
        <tr>
          <th data-field="stt">
            <%= t "page.admin.questions.tables.stt" %>
          </th>
          <th data-field="content">
            <%= t "page.front-end.questions.tables.content" %>
          </th>
          <th data-field="type">
            <%= t "page.front-end.questions.tables.type" %>
          </th>
          <th data-field="subject">
            <%= t "page.front-end.questions.tables.subject_name" %>
          </th>
          <th data-field="action">
            <%= t "page.front-end.questions.tables.status" %>
          </th>
          <th data-field="action">
          <%= t "page.front-end.questions.tables.action" %>
          </th>
        </tr>
      </thead>
      <tbody class="subject_body_tables">
        <% @questions.each do |question|%>
          <tr class="suggest_question_<%= question.id %>">
            <td class="right-align"><%= question.id %></td>
            <td>
              <a href="#!" onclick="Materialize.showStaggeredList('#list-answers-<%= question.id %>')">
                <%= question.content %>
              </a>
            </td>
            <td><%= question.question_type %></td>
            <td><%= question.subject.name %></td>
            <td>
              <i class="fa fa-spinner" aria-hidden="true"></i>
              <%= question.question_status %>
            </td>
            <td class="decide_suggest_question">
              <a class="waves-effect waves-light green-text"
                data-id="<%= question.id %>" data-status="accepted">
                <i class="fa fa-check" aria-hidden="true"></i>
                <%= t "page.admin.action.accepted" %>
              </a> |
              <a class="waves-effect waves-light red-text"
                data-id="<%= question.id %>" data-status="reject">
                <i class="fa fa-times" aria-hidden="true"></i>
                <%= t "page.admin.action.reject" %>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @questions %>
  </div>
  <div class="col m3 hide answers_tab suggest_question_answers">
    <h5 class="center-align"><%= t "page.admin.questions.answers.tab.title" %></h5>
    <div class="divider"></div>
    <div>
      <% @questions.each_with_index  do |question, index| %>
        <h6>
          <strong><%= t "page.admin.questions.answers.answer" %><%= index %></strong>
        </h6>
        <ul id="list-answers-<%= question.id %>" class="center-align">
          <% question.answers.each do |answer| %>
            <li class="center-align" style="opacity: 0"><%= answer.content %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

