<%= content_for :title do %>
  <%= t "page.admin.user.title" %>
<% end %>
<div class="row">
  <table class="striped centered highlight" id="table-user">
    <thead>
      <tr>
        <th data-field="stt">
          <%= t "page.admin.users.stt" %>
        </th>
        <th data-field="name">
          <%= t "page.admin.users.name" %>
        </th>
        <th data-field="email">
          <%= t "page.admin.users.email" %>
        </th>
      </tr>
    </thead>
    <tbody class="user_body_tables">
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to([:admin, user],
              class: "btn-floating red darken-1 tooltipped delete_user",
              method: :delete, confirm: t("page.admin.action.confirm"),
              data: {position: "top", delay: "50", id: user.id,
              tooltip: t("page.admin.action.delete")}) do %>
              <i class="material-icons">delete</i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @users %>
</div>
<%= render "log" if current_user.admin? %>
