<div class="panel panel-default col m6 questions_answers">
  <label class="label-status label-default" style="display:block; font-size: 1.1em">
    <%= t "page.front-end.examination.do.question_num"%>
    <%= f.index + 1 %>
  </label><br/>
  <p><strong><%= f.object.question.content %>?</strong></p>
  <div>
    <div class="answers">
      <% f.object.question.answers.each do |answer| %>
        <%= f.hidden_field :question_id  %>
        <p>
          <%= f.radio_button :answer_id, answer.id,
            checked: answer.id == f.object.answer_id %>
          <%= f.label :answer_id  %>
          <span class="answer_content">
            <%= answer.content %>
          </span>
        </p>
      <% end %>
    </div>
  </div>
</div>

