<% provide :title, t("page.views.devise.examination.title") %>
<%= form_for(@exam) do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <div class="collect">
        <%= f.select(:subject_id) do %>
          <% @subjects.collect do |c| %>
            <%= content_tag(:option, c.name, value: c.id) %>
          <% end %>
        <% end %>
        <%= f.label :subject %><br>
        <%= f.hidden_field :status, value: :start %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <%= submit_tag t("page.views.devise.examination.view.index.create"),
        class: "btn btn-md btn-primary" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="row_h4">
    <h4><%= t "page.views.devise.examination.view.index.row" %></h4>
  </div>
  <table class="striped centered highlight" id="table-user">
    <thead>
      <tr>
        <th data-field="stt">
          <%= t "page.views.devise.examination.view.index.stt" %>
        </th>
        <th data-field="subject">
          <%= t "page.views.devise.examination.view.index.subject" %>
        </th>
        <th data-field="status">
          <%= t "page.views.devise.examination.view.index.status" %>
        </th>
        <th data-field="duration">
          <%= t "page.views.devise.examination.view.index.duration" %>
        </th>
        <th data-field="question_number">
          <%= t "page.views.devise.examination.view.index.question_number" %>
        </th>
        <th data-field="spent_time">
          <%= t "page.views.devise.examination.view.index.spent_time" %>
        </th>
        <th data-field="score">
          <%= t "page.views.devise.examination.view.index.score" %>
        </th>
        <th data-field="score"></th>
      </tr>
    </thead>
    <tbody class="user_body_tables">
      <% @examinations.each_with_index do |examination, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= examination.subject_name %></td>
          <td><%= examination.status %></td>
          <td><%= examination.subject_duration %></td>
          <td><%= examination.subject_question_number %></td>
          <td><%= spend_time examination %></td>
          <td>
            <% if examination.checked? %>
              <%= examination.results.is_corrects.count %>/
              <%= examination.subject.question_number %>
            <% else %>
              ---
            <% end %>
          </td>
          <td>
            <% if examination.start? %>
              <td><%= link_to t("admin.exams.start"),
                examination_path(examination),
                class: "col-md-8 btn btn-primary" %></tdx`>
            <% else %>
              <td><%= link_to t("admin.exams.view"),
                examination_path(examination),
                class: "col-md-8 btn btn-warning" %></td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
