<div class="row">
  <div class="col s12">
    <ul class="tabs" >
      <li class="tab col s2 menu_admin">
        <a href="#users">
          <%= t "page.admin.menu.users" %>
        </a>
      </li>
      <li class="tab col s2 menu_admin">
        <a href="#subjects" url="<%= admin_subjects_path %>" >
          <%= t "page.admin.menu.subjects" %>
        </a>
      </li>
      <li class="tab col s2 menu_admin">
        <a href="#questions"><%= t "page.admin.menu.questions" %></a>
      </li>
      <li class="tab col s2 menu_admin">
        <a href="#suggestions"><%= t "page.admin.menu.suggestions" %></a>
      </li>
      <li class="tab col s2 menu_admin">
        <a href="#exams"><%= t "page.admin.menu.exams" %></a>
      </li>
    </ul>
  </div>
  <hr />
  <div class="content-page">
    <%= yield %>
  </div>
</div>


