<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <%= render "partials/admin/header" %>
      <div class="container" style="margin-bottom: 100px; min-height: 300px">
        <div class="row">
          <div class="col m10 offset-m1">
            <h2 class="center-align"><%= yield :page_title %></h2>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
          </div>
        </div>
        <%= render "partials/admin/menu" %>
        <div class="divider"></div>
      </div>
      <%= render "partials/admin/footer" %>
    </div>
  </body>
</html>
