<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <%= render "partials/header" %>
      <div class="container" style="margin-bottom: 100px; min-height: 300px">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h4 class="center-align"><%= yield :page_title %></h4>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <hr />
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "partials/footer" %>
    </div>
  </body>
</html>
